# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
*.egg

# Env
.env
!.env.example

# Alembic
backend/alembic/versions/*.py
!backend/alembic/versions/.gitkeep

# Node
node_modules/
frontend/dist/

# Misc
.DS_Store
*.log
